.hljs {
  font-family: Consolas;
  color: #333;
  z-index: -1;
  background: #fafafd;
  border: 0.063em solid #dedede;
  border-right: 0em solid #fff;
  border-left: 0em solid #fff;
  line-height: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  left: 0;
  right: 0;
}
