body, html {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "OpenSans-Regular";
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.strong {
  color: #000;
  font-family: "OpenSans-Bold";
  font-size: 18px;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
}

.header-bg {
  position: absolute;
  top: -40px;
  left: -15px;
  z-index: -1;
  height: 290px;
  width: 105%;
  padding-bottom: 100px;
  background-color: #FFFE6D;
  transform: rotate(-3deg);
}

header {
  height: 300px;
  padding: 50px;
  padding-top: 20px;
}

  header .logo-list, header .texts {
    display: flex;
    justify-content: space-between;
  }

  header .texts {
    margin-top: 40px;
  }

    header .texts .about {
      font-size: 19px;
      color: #424242;
      width: 460px;
    }

      header .texts .about .strong {
        font-size: 21px;
      }

    header .texts .links {
      width: 410px;
    }

.logo-list-hello {
  width: 180px;
}

.logo-list-close {
  width: 30px;
}

.link.mod-header-link {
  margin-bottom: 6px;
}

  .link-label {
    width: 90px;
    display: inline-block;
  }

  .link-destination {
    font-size: 16px;
    color: #424242;
    text-decoration: none;
  }


.body {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

  .body h2 {
    font-family: "OpenSans-Semibold";
    font-size: 28px;
    color: #424242;
    margin-bottom: 45px;
  }

.experiences, .projects {
  width: 410px;
}


.project {
  border-left: 4px solid #000;
  padding-left: 17px;
  margin-bottom: 35px;
}

  .project-header {
    font-family: "OpenSans-Semibold";
    font-size: 18px;
    color: #424242;
    margin-bottom: 20px;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    padding-bottom: 2px;
    transition: all .1s ease 0s;
  }

  .project-header:hover {
    border-bottom: 3px solid #424242;
  }

  .project-description {
    font-size: 16px;
    color: #757575;
  }
